
.table{
   margin-top:250px;
   width: 100%;

}





.classA{
    text-align: center;
	border:solid 4px;
	background-color: blue;
	color: white;
	font-size: large;
	width:40px;
	height: 30px;
}
.classB{
    text-align: center;
	border:solid 4px;
	background-color: blue;
	color: white;
	font-size: large;
	width:40px;
	height: 30px;
}
.classC{
    text-align: center;
	border:solid 4px;
	background-color: red;
	color: white;
	font-size: large;
	width:40px;
	height: 30px;
}
.classD{
    text-align: center;
	border:solid 4px;
	background-color: orange;
	color: white;
	font-size: large;
	width:40px;
	height: 30px;
}
.classE{
    text-align: center;
	border:solid 4px;
	background-color: orange;
	color: white;
	font-size: large;
	width:40px;
	height: 30px;
}
.classF{
    text-align: center;
	border:solid 4px;
	background-color: blue;
	color: white;
	font-size: large;
	width:40px;
	height: 30px;
}
.classG{
    text-align: center;
	border:solid 4px;
	background-color: red;
	color: white;
	font-size: large;
	width:40px;
	height: 30px;
}
.classH{
    text-align: center;
	border:solid 4px;
	background-color: red;
	color: white;
	font-size: large;
	width:40px;
	height: 30px;
}
.classI{
    text-align: center;
	border:solid 4px;
	background-color: orange;
	color: white;
	font-size: large;
	width:40px;
	height: 30px;
}
.classJ{
    text-align: center;
	border:solid 4px;
	background-color: blue;
	color: white;
	font-size: large;
	width:40px;
	height: 30px;
}